.employeeheader{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-weight: bold;
}
.employeecell{
    border: 1px solid black;
    padding: 8px;
}
.employeeAlign{
    border-collapse: collapse;
     width: fit-content ;
}