.modelheader{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    font-weight: bold;
}
.modelcell{
    border: 1px solid black;
    padding: 8px;
}
.modelAlign{
    border-collapse: collapse;
     width: fit-content;
}